# Visual Studio / Qt Creator
.vs/
.qtcreator/
*.user
*.suo
*.VC.db*
*.db-shm
*.db-wal
*.vsidx
*.ipch

# CMake e compilazioni
out/
build*/
deploy*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build.ninja
.ninja_*

# Archivi locali
Common*.zip

# File di sistema
.DS_Store
Thumbs.db